# Firebase build and deployment files
/firebase-debug.log
/firebase-debug.*.log
.firebaserc

# Firebase Hosting
/firebase.json
*.cache
hosting/.cache

# Firebase Functions
/functions/node_modules/
/functions/.env
/functions/package-lock.json

# Firebase Emulators
/firebase-*.zip
/.firebase/
/emulator-ui/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (local configs)
.env.*
.env

# Node.js dependencies
/node_modules

# Next.js build artifacts
/.next
.next

# Static export folder (if using `next export`)
/out

# macOS system files (if applicable)
.DS_Store

# VS Code settings (optional, if using VS Code)
.vscode/

# Lock files (optional, if you don’t want to commit them)
package-lock.json
yarn.lock
# PWA files
public/sw.js
public/workbox-*.js
public/worker-*.js
public/sw.js.map
public/workbox-*.js.map
public/worker-*.js.map
