@tailwind base;
@tailwind components;
@tailwind utilities;
/* Regular (normal style) variable font */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Supports weights from 100 to 900 */
  font-style: normal;
  font-display: swap;
}

/* Italic variable font */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --swiper-theme-color: #46c7c7; /* This changes both navigation and pagination color */
}
::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Safari and Chrome */
}

body.overflow-hidden {
  overflow: hidden !important;
}
body {
  @apply bg-white font-sans; /* Neutral background and classic Swiss typography */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  @apply font-bold tracking-wide; /* Bold and clear headings with improved readability */
}

.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
  max-width: 1200px; /* Grid alignment */
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  background-color: #fff; /* Optional background */
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slide-up {
  from { transform: translateY(20px); }
  to { transform: translateY(0); }
}

.animate-fade-in { animation: fade-in 0.3s ease-out; }
.animate-slide-up { animation: slide-up 0.3s ease-out; }

.hero-image-container {
  width: 100%;
  height: 100%; /* Adjust as needed */
  max-width: 3840px; /* Ensure no over-stretching */
}


@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }
}

.pulse {
  animation: pulse 1s infinite ease-in-out;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* HTML: <div class="loader"></div> */
.loading {
  width: 50px;
  height: 28px;
  --_g: no-repeat radial-gradient(farthest-side,#fff 94%,#0000);
  background:
    var(--_g) 50%  0,
    var(--_g) 100% 0;
  background-size: 12px 12px;
  position: relative;
  animation: l23-0 1.5s linear infinite;
}
.loading:before {
  content: "";
  position: absolute;
  height: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fff;
  left:0;
  top:0;
  animation: 
    l23-1 1.5s linear infinite,
    l23-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}
@keyframes l23-0 {
  0%,31%  {background-position: 50% 0   ,100% 0}
  33%     {background-position: 50% 100%,100% 0}
  43%,64% {background-position: 50% 0   ,100% 0}
  66%     {background-position: 50% 0   ,100% 100%}
  79%     {background-position: 50% 0   ,100% 0}
  100%    {transform:translateX(calc(-100%/3))}
}
@keyframes l23-1 {
  100% {left:calc(100% + 7px)}
}
@keyframes l23-2 {
  100% {top:-0.1px}
}

